# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ASPNetRazorSample.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\introduction-to-web-development\SSR\ASPNetRazorSample\.idea\.idea.ASPNetRazorSample.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
